# Default ignored files
/shelf/
/dictionaries/
/workspace.xml
/usage.statistics.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
